#exercisecontainer {
    text-align: center;
}
.exerciseTwo {
    display: block;
}
#excerciseThree {
    position: fixed;
    top: 100px
    left: 200px;
}
.exerciseFour {
    position: fixed

}



/* Exercise Five */

/* Place code here */



/* Exercise Six */

#exerciseSeven {
  display: flex;
}
