#divclass {
    color: black;
    text-align: center
}
#thirdDiv {
    height: 100px;
    width: 960px;
    padding-bottom: 10px;
    text-align: center
}
#thirdDiv img {
    border: none;
    margin: 0 auto;
}
#spanid {
    text-align: center;
    font-size: 18px;
}